$("#follow_form").html("<%= escape_javascript(render('communities/follow')) %>");
$("#followers").html('<%= @community.followers.count %>');
$("#followers-list").html('<% @community.followers.each do |follower| %><p><span class="side-user"><%= link_to gravatar_for(follower, size: 24), follower %><%= link_to follower.name.truncate(18), follower %></span></p><% end %>');