    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
      
      <!-- ユーザーが管理者権限を有するか？ && ユーザーがログイン済みか？ -->
      <% if current_user.admin? && !current_user?(user) %>
    |   <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>

    </li>