<%= form_for(current_user.community_join.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :community_id, @community.id %></div>
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>